<?xml version="1.0" encoding="utf-8"?>

<!--  
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
     <compilation debug="true" targetFramework="4.5.2" />
      <!--<httpRuntime targetFramework="4.5.2" />-->
    </system.web>
	<connectionStrings>
  <add name="cnstr" connectionString="data source=.;database=Work_Study;uid=sa;pwd=2596142718tl;Max Pool Size = 512" />
  <add name="constr" connectionString="Data Source=(local);Initial Catalog=Work_Study;Persist Security Info=True;User ID=sa;Password=2596142718tl"
   providerName="System.Data.SqlClient" /> 
 </connectionStrings>
  <!--<connectionStrings>
    <add name="constr" connectionString="Data Source=XZ-57OEV922G9P9(local);Initial Catalog=Work_Study;User ID=sa;Password=2596142718tl"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>
